@import "../../../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default.less'; // 上面已导入，这里可删除，就是方便查看默认值
@import '../themes/base.less';

// [nzTheme] 注意事项

// 1.<nz-sider> 默认值dark（建议使用dark，变量不用加light）。
// nzTheme == dark，背景读取 @layout-sider-background，继承 @layout-header-background。
// nzTheme == light，背景读取 @layout-sider-background-light，继承 #fff。

// 2.nz-menu 指令 默认值light（建议使用light，变量不用加dark）。
// nzTheme == light，背景读取 @menu-item-active-bg，继承 @primary-1。
// nzTheme == dark，背景读取 @menu-dark-item-active-bg，继承 @primary-color。


// Primary
@primary-2: ~'var(--@{var-prefix}-primary-2)';
@primary-3: ~'var(--@{var-prefix}-primary-3)';
@primary-4: ~'var(--@{var-prefix}-primary-4)';
@primary-5: ~'var(--@{var-prefix}-primary-5)';
@primary-6: ~'var(--@{var-prefix}-primary-6)';
@primary-7: ~'var(--@{var-prefix}-primary-7)';
@primary-8: ~'var(--@{var-prefix}-primary-8)';
@primary-9: ~'var(--@{var-prefix}-primary-9)';
@primary-10: ~'var(--@{var-prefix}-primary-10)';
@text-color: ~'var(--@{var-prefix}-text-color)';
@layout-body-background: ~'var(--@{var-prefix}-bg-color)';
@component-background: ~'var(--@{var-prefix}-component-background)';
@heading-color: ~'var(--@{var-prefix}-heading-color)';
@border-color-base: ~'var(--@{var-prefix}-border-color-base)';
@item-hover-bg: ~'var(--@{var-prefix}-item-hover-bg)';
@primary-color-hover: ~'var(--@{var-prefix}-primary-color-hover)';

/* Input / Select */

// Menu
@menu-item-active-bg: ~'var(--@{var-prefix}-menu-item-active-bg)';
@menu-highlight-color: ~'var(--@{var-prefix}-menu-highlight-color)';
@menu-inline-submenu-bg: ~'var(--@{var-prefix}-menu-inline-submenu-bg)';
@menu-item-group-title-color: ~'var(--@{var-prefix}-menu-item-group-title-color)';

// Layout
@layout-header-background: ~'var(--@{var-prefix}-layout-header-background)';
@layout-sider-background: ~'var(--@{var-prefix}-layout-sider-background)';

// Buttons
@btn-primary-bg: ~'var(--@{var-prefix}-btn-primary-bg)';

// Select
@select-item-selected-bg: ~'var(--@{var-prefix}-select-item-selected-color)';

// TimePicker
@picker-bg: ~'var(--@{var-prefix}-picker-bg)';
@dropdown-selected-color: ~'var(--@{var-prefix}-dropdown-selected-color)';
@dropdown-selected-bg: ~'var(--@{var-prefix}-dropdown-selected-bg)';
@picker-basic-cell-hover-color: ~'var(--@{var-prefix}-picker-basic-cell-hover-color)';
@picker-date-hover-range-color: ~'var(--@{var-prefix}-picker-date-hover-range-color)';
@picker-date-hover-range-border-color: ~'var(--@{var-prefix}-picker-date-hover-range-border-color)';
@picker-basic-cell-active-with-range-color: ~'var(--@{var-prefix}-picker-basic-cell-active-with-range-color)';
