html.orange-dark,
app-hmi-page.orange-dark,
.hmi-overlay-theme.orange-dark {

  /* Primary */
  --portal-primary-color: red;

  /* Buttons */
  --portal-btn-primary-bg: red;

  /* Select */
  --portal-select-item-selected-color: red;
}
