.theme-orange-dark {

  /* Primary */
  --portal-primary-color: #db501a;
  --portal-component-background: #222;
  --portal-text-color: #fff;
  --portal-bg-color: #0a0a0a;
  --portal-heading-color: #fff;

  /* Layout */
  --portal-layout-header-background: #222;

  /* Buttons */
  --portal-btn-primary-bg: #db501a;

  /* Select */
  --portal-select-item-selected-color: color-mix(in srgb, var(--portal-component-background) 80%, var(--portal-primary-color) 20%);

  /* TimePicker */
  --portal-picker-bg: red;
  --portal-dropdown-selected-color: red;
  --portal-dropdown-selected-bg: red;
  --portal-picker-basic-cell-hover-color: red;
  --portal-picker-date-hover-range-color: red;
  --portal-picker-date-hover-range-border-color: red;
  --portal-picker-basic-cell-active-with-range-color: red;
}
