.theme-orange-dark {

  /* Primary */
  --portal-text-color: #fff;
  --portal-bg-color: #0a0a0a;
  --portal-component-background: #222;
  --portal-heading-color: #fff;

  /* Menu */
  --portal-menu-item-active-bg: var(--portal-primary-color);
  --portal-menu-item-active-color: #fff; /* 自己新增的样式变量，解决nz-menu nzTheme=light时，active文字颜色没有token的问题 */
  --portal-menu-highlight-color: var(--portal-primary-color);
  --portal-menu-item-group-title-color: var(--portal-text-color);

  /* Layout */
  --portal-layout-header-background: var(--portal-component-background);
  --portal-layout-sider-background: var(--portal-component-background);

  /* Buttons */
  --portal-btn-primary-bg: var(--portal-primary-color);

  /* Select */
  --portal-select-item-selected-color: color-mix(in srgb, var(--portal-component-background) 80%, var(--portal-primary-color) 20%);

  /* TimePicker */
  --portal-picker-bg: red;
  --portal-dropdown-selected-color: red;
  --portal-dropdown-selected-bg: red;
  --portal-picker-basic-cell-hover-color: red;
  --portal-picker-date-hover-range-color: red;
  --portal-picker-date-hover-range-border-color: red;
  --portal-picker-basic-cell-active-with-range-color: red;
}
